<%= render ::Decor::Suite::Page.new do |page| %>
  <% page.with_header do %>
    <%= render ::Decor::Suite::PageHeader.new(title: "Media & misc", subtitle: "Carousel, click-to-copy, code block") %>
  <% end %>

  <%= render ::Decor::Suite::PageSection.new(title: "Carousel (Swiper)", separator: true) do %>
    <div class="decor:max-w-xl">
      <%= render ::Decor::Suite::Carousel.new(images: @slides, show_arrows: true, show_pagination: true, max_height: 220) %>
    </div>
  <% end %>

  <%= render ::Decor::Suite::PageSection.new(title: "Click to copy", separator: true) do %>
    <div id="standalone-copy">
      <%= render ::Decor::Suite::ClickToCopy.new(to_copy: "copy-me-123", variant: :chip) do %>copy-me-123<% end %>
    </div>
  <% end %>

  <%= render ::Decor::Suite::PageSection.new(title: "Code block", separator: true) do %>
    <%= render ::Decor::Suite::CodeBlock.new(filename: "example.rb", copy_button: true, language: "ruby") do %>puts "Hello, decor"<% end %>
  <% end %>
<% end %>
